body {
  margin: 0;
  text-align: center;
  font-family: 'merriweather', serif;
  font-size: 1.5rem;
}

.top-container {
  margin: 0;
  background-color: #C2E7D9;
  height: 670px;
}

.images {
  display: inline-block;
}

.h1 {
  text-align: center;
  font-family: 'Sacramento', cursive;
  margin: 0;
}

.tcloud {
  width: 13rem;
  height: auto;
  position: absolute;
  right: 270px;
  top: 100px;
}

.bcloud {
  width: 12rem;
  height: auto;
  position: absolute;
  left: 300px;
  top: 320px;
}
p {font-size: 1rem;
font-weight: bolder;}
h1 {
  padding-top: 170px;
  margin-bottom: 0;
  font-size: 4rem;
  color: #66BFBF;
}

h2 { font-weight: bold;
  margin-top: 0;
  font-family: 'montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

.footer-link { padding: 20px;
  position:relative;
  top: 40px;
  bottom: 50px;
  font-size: 1rem;
  color: #11999E;
  font-family: 'merriweather', serif;
}

.copyright { color: #EAF6F6;
  font-size: 1rem;
  margin-top: 70px;
}

.h21 { font-size: 1.5rem;
  font-weight: normal;
}

.computerpic {
  width: 13rem;
  float: left;
}

.skills {
  margin: 0;
}

.h3web { color: #11999E;
  margin: 0;
}

.pic2 {
  width: 10rem;
  float: right;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
  text-align: left;
}

.bottom-container{background-color: #66BFBF;
margin:50px auto 0 auto;
height: 150px;}

.touch{
  font-weight: 100px;}

hr{ margin: 50px auto 50px auto;
border: dotted grey;
border-width: 0em 0 5px;
width: 5%;
}

.contact-me{padding-top: 20px;
padding-bottom: 20px;}
.new{padding-bottom: 40px;}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 30px #11cdd4;
  font-family: Arial;
  color: WHITE;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #66BFBF 0px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
